<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <%= render 'feed' %>      
      </div>
    </div>
  </div>
</section>